<p><%= comment.body %> Автор: <%= comment.user.email %>

<% if current_user && (current_user.id == comment.user_id || current_user.admin?) %>
  <%= link_to 'Редактировать', edit_comment_path(comment) %> <%= link_to 'Удалить', comment, method: :delete, data: { confirm: 'Вы уверены?' } %>
<% end %></p>
