<p>
  <strong><%= t('.comment') %>:</strong>
  <%= @comment.body %>
</p>

<%= link_with_icon :pencil, edit_comment_path(@comment), title: t('common.edit') %> |
<%= link_to t('common.back'), @comment.post %>
