<h1>Лента сообщений</h1>

<% @posts.each do |post| %>
  <div>
    Автор: <%= post.user.email %>
    <h2><%= link_to post.title, post %></h2>


	  <% @post = post %>
	  <%= render 'categories/category' %>


    <p><%= truncate(post.body, length: 100, separator: ' ') { link_to "Читать далее", post } %></p>
  </div>
<% end %>